@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <h3>Nhóm Stormy</h3>

    <table class="table table-hover">
        <thead>
            <tr class="table-primary text-center">
                <th scope="col">Mã số sinh viên</th>
                <th scope="col">Họ và tên</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary text-center">
                <th scope="row">46.01.104.049</th>
                <td>Hứa Tiên Hào</td>
            </tr>
            <tr class="table-secondary text-center">
                <th scope="row">47.01.104.103</th>
                <td>Nguyễn Thị Thu Huyền</td>
            </tr>
            <tr class="table-secondary text-center">
                <th scope="row">47.01.104.096</th>
                <td>Hoàng Thụy Quỳnh Hương</td>
            </tr>
            <tr class="table-secondary text-center">
                <th scope="row">47.01.104.225</th>
                <td>Nguyễn Trí Trường</td>
            </tr>
        </tbody>
    </table>
</div>
